h5{
    font-size: 13px;
}
h3{
    font-weight: bold;
    text-align: center;
}
.row{
    background: rgb(202, 235, 209);
}
.row{
    height:80vh;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    height: 80vh;
}
.contenedor .btn-abrir-popup {
	border: none;
    float: right;
    border-radius: 1.5rem;
    padding: 2%;
    width: 100%;
    background: #21865f;
    font-weight: bold;
    color: #383d41;
    cursor: pointer;
}
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8{
    color:#28A55F;
}
.btnRegister{
    float:inherit;
    margin-bottom: 6%;
    border: none;
	border-radius: 1.5rem;
    padding: 2%;
    background: #5E7DE3;
	font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 40%;
    cursor: pointer;
}

.btnPass{
    border: none;
    float: right;
    border-radius: 1.5rem;
    padding: 2%;
    width: 100%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 5%;
    cursor: pointer;
}
.register-left img{
    margin-top: 45%;
    margin-bottom: 10%;
    width: 75%;
    margin-left: 13%;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: 2%;
}
.register .register-form{
    width: 100%;
    padding: 5%;
    margin-top: 10%;
    text-align: center;
    
}
.register-heading{
    text-align: center;
    margin-top: 5%;
    margin-bottom: -15%;
    color: #495057;
}
.register .form-group .col-md-12{
    width: 80%;
    margin-left: 1%;
}
.register .form-group input{
    width: 90%;
    margin-left: 8%;
}


